<div class="row wrapper border-bottom white-bg page-heading">
    <h2>Profile</h2>
    <ol class="breadcrumb">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li class="active">
            <strong>Profile</strong>
        </li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <div>
            <button ng-click="getLocationProfile()" class="btn">Auto Locate</button>
        </div>
        <div>
            <div class="ibox-content profile-content">
                <div class="row">
                    <section id="map">
                        <ng-map center="{{qualityCenter}}" zoom="{{zoomMap}}" on-click="changePlace($event)" map-type-id="HYBRID">
                            <marker position="{{qualityCenter}}" title="Hello World!" on-dragend="changePlace($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
                        </ng-map>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-5">
            <form role="form">
                <div class="form-group">
                    <input ng-model="jobTitle" ng-change="aboutMeJobTitle()" type="text" placeholder="Job Title" class="form-control">
                </div>
                <div class="form-group">
                    <textarea class="aboutMe" placeholder="about yourself" ng-model="aboutMeDescription" ng-change="aboutMe()"></textarea>
                </div>
            </form>
              <div class="mainDiv" align="right">
        <h1 align="left">Profile Picture</h1>

        <img alt="image" class="img-circle profilepic" src="{{photoURL}}" />
        <progress id="uploader" value="0" max="100">0%</progress>
        <input type="file" id="file" name="file"/>
        <button ng-click="changeProPic()">Change Profile Picture</button>
    </div>


        </div>
    </div>
</div>