<div class="row">
    <div class="col-md-6">
     <li><a href="#!/dashboards/dashboard_3">Advertisements</a>
        <li class="dropdown" dropdown>
            <a class="dropdown-toggle count-info" href dropdown-toggle>
                    Language
                </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs" ng-controller="translateCtrl">
                <li><a ng-click="changeLanguage('en')">English</a></li>
                <li><a ng-click="changeLanguage('bis')">Bisaya</a></li>
                <li><a ng-click="changeLanguage('fil')">Filipino</a></li>
            </ul>

        </li>

    </div>
    <div class="col-md-12 pull-right">
        <small>Merkadu © 2017</small>
    </div>
</div>