<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <div  dropdown>
                    <img dropdown-toggle href alt="image" class="img-circle profilepic" src="{{photoURL}}" />
                    <a class="dropdown-toggle" >
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{ displayName }}</strong>
                             </span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#!/app/profile">Profile</a></li>
                    </ul>
                </div>
                <!--
                <div class="logo-element">
                    <img src="img/logo.png" ></img>
                </div>
                -->
            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'DASHBOARD' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_1">{{ 'DISCOVER' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.projects">{{ 'Manage' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.create_jobpost">{{ 'CREATE' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_4_1">Applications</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('app')}">
                <a href=""><i class="fa fa-desktop"></i> <span class="nav-label">{{ 'Activity' | translate }}</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('app')}">
                    <li ui-sref-active="active"><a ui-sref="app.contacts">{{ 'Contacts' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.chat_view">{{ 'CHATROOM' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.marketInfo">{{ 'Statistic' | translate }}</a></li>

                </ul>
            </li>
            <li ng-class="{active: $state.includes('miscellaneous')}">
                <a href=""><i class="fa fa-globe"></i> <span class="nav-label">{{ 'MISCELLANEOUS' | translate }}</span> <span class="label label-info pull-right">NEW</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('miscellaneous')}">
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.agile_board">{{ 'AGILE' | translate }}</a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="miscellaneous.chat_view">Chat view</a></li>-->
                </ul>
            </li>
        </ul>
    </div>
</nav>